.header {
  width: 100%;
  background-color: rgb(226, 128, 136);
  border-bottom: solid 1px rgb(163, 8, 253);
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.logo {
  height: 2rem;
}

.menu li {
  font-weight: 600;
  padding: .5rem;
  text-align: center;
}